version: 2
updates:
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
    commit-message:
      prefix: ci
  - package-ecosystem: gomod
    directories: ['**/*']
    schedule:
      interval: weekly
    commit-message:
      prefix: gomod
    groups:
      '*':
        patterns: ['*']
